* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #282d35;
}

nav {
  display: flex;
  background-color: #21222a;
  color: white;
  justify-content: space-between;
  padding: 15px 25px;
  align-items: center;
}

img {
  width: 3.5rem;
  margin: 1px;
}

.logo {
  display: flex;
  color: #61dafb;
}

.logo h3 {
  font-size: 22px;
  font-weight: bold;
}

nav h4 {
  font-weight: 600;
  font-size: 16px;
}

.main--tittle {
  color: white;
  font-size: 39px;
  font-weight: bold;
  margin: 0;
  letter-spacing: -0.05em;
}

.main--list {
  color: white;
}

.main--list > li {
  padding-block: 10px;
}

.main--list > li::marker {
  font-size: 1.4rem;
  color: #61dafb;
}

.main {
  padding: 57px 27px;
  /* height: 100vh; */
  font-family: "Inter", sans-serif;
  background-image: url(./images/logo.svg);
  background-repeat: no-repeat;
  background-position: 50vw -10vh;
}

.mainContainer {
  width: 550px;
  height: 550px;
}
